.check{
    &__container{
        padding: 376px 0 72px;
        border-radius: 32px;
        background-color: #F2F9F9;
        margin-top: -210px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__block{
        padding: 54px 70px 48px;
        border-radius: 32px;
        background: linear-gradient(162deg, #75C0CA 0%, #9dc8bd 100%), #46A6AF;
        color: #FFF;
        max-width: 688px;
        width: 90%;
        position: relative;
        &--white{
            color: #04181B;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            background: #FFF;
        }
    }
    &__img-dash{
        position: absolute;
        top: 58%;
    }
    &__img-bg{
        position: absolute;
        top: 0%;
        right: 0%;
        max-width: 300px;
    }
    &__payment{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        border-radius: 48px;
        background-color: #FEC52D;
        padding: 16px 24px;
        &--small{
            color: #46A6AF;
            border-radius: 48px;
            background-color: rgba(70, 166, 175, 0.10);
        }
    }
    &__info{
        margin: 80px 0 136px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
    &__number{
        font-size: 48px;
        font-weight: 700;
        line-height: 40px;
    }
    &__text{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        opacity: 0.699999988079071;
        max-width: 282px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
    &__return{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        border-radius: 48px;
        background-color: rgba(255, 255, 255, 0.10);
        padding: 16px 24px;
    }
    &__desc{
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        opacity: 0.699999988079071;
    }
    &__section{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__box{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__box-top{

    }
    &__heading{
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        &--blue{
            color: #46A6AF;
        }
    }
    &__box-bottom{
    }
    &__description{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        &::before{
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #FF3D78;
            border-radius: 50px;
        }
    }
    &__description-blue{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        &::before{
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #46A6AF;
            border-radius: 50px;
        }
    }
    &__item{
        color: #46A6AF;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        &::before{
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #46A6AF;
            border-radius: 50px;
        }
    }
}