.cards{
    position: relative;
   &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: -100px;
   } 
}

.cards-block{
    max-width: 451px;
    width: 100%;
    border-radius: 18px 0;
    padding: 20px 44px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    &__icon-block{
        background-color: #56A7B2;
        padding: 26px;
        border-radius: 44px 8px;
         &--yellow{
            background-color: #FFB444;
            padding: 26px;
            border-radius: 44px 8px;
         }
         &--pink{
            background-color: #FF3D78;
            padding: 26px;
            border-radius: 44px 8px;
         }
    }
    &__text{
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        max-width: 227px;
    }
}