.header{
    padding: 30px 0 110px;
    background-color: #EAF5F5;
    position: relative;
    &__inner{
        position: relative;
    }
    &__bg-img{
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
    }
    &__left-triangles{
        position: absolute;
        z-index: 0;
        left: -18%;
        top: 17%;
    }
    &__right-triangles{
        position: absolute;
        z-index: 0;
        bottom: 0%;
        right: -18%;
    }
    &__left-squares{
        position: absolute;
        z-index: 0;
        top: 41%;
        left: -12%;
    }
    &__right-squares{
        position: absolute;
        z-index: 0;
        top: 52%;
        right: -11%;
    }
    &__yellow-figure{
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 53%;
    }
    &__white-figure{
        position: absolute;
        z-index: 0;
        right: -18%;
        top: 15%;
    }
    &__snowflake{
        position: absolute;
        z-index: 0;
        bottom: 20%;
        left: 44%;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 130px;
    }
    &__logo{
        max-width: 237px;
    }
    &__button{
        font-weight: 600;
        line-height: 24px;
        color: #FFF;
        border-radius: 32px;
        background-color: #04181B;
        padding: 16px 24px;
        z-index: 0;
    }
    &__center{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__center-left{
        max-width: 760px;
    }
    &__title{
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        margin-bottom: 48px;
    }
    &__text{
        max-width: 593px;
        color: #78727D;
        font-weight: 500;
        margin-bottom: 64px;
    }
    &__btn{
        display: block;
        max-width: 358px;
        width: 90%;
        font-weight: 700;
        line-height: 24px;
        color: #FFF;
        border-radius: 48px;
        background-color: #56A7B2;
        padding: 24px 32px;
    }
    &__img-doctor{
        max-width: 695px;
        display: block;
        margin-right: -162px;
        margin-top: -130px;
        z-index: 0;
    }
}

.header-menu{
    &__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 48px;
    }
    &__item{
        font-weight: 600;
        line-height: 24px;
    }
}

.button{
    font-weight: 600;
    line-height: 24px;
    color: #FFF;
    border-radius: 32px;
    background-color: #04181B;
    padding: 16px 24px;
}

.logo{
    max-width: 237px;
}