.plan{
    padding-bottom: 160px;
    &__inner{
        background-color: #F2F9F9;
        border-radius: 32px;
        padding: 150px 170px;
        display: flex;
        justify-content: space-between;
        gap: 9px;
        flex-wrap: wrap;
        position: relative;
        // &::after{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     width: 100%;
        //     height: 20px;
        //     background: linear-gradient(180deg, #E5F3F2 0%, rgba(229, 243, 242, 0.00) 100%);
        //     opacity: 0.8999999761581421;
        // }
    }
    &__img-triangles-left{
        position: absolute;
        bottom: 0%;
    }
    &__img-triangles-right{
        position: absolute;
        top: 0%;
        right: 13%;
    }
    &__img-snowflake{
        position: absolute;
        left: 29%;
        top: 10%;
    }
    &__img-yellow-figure{
        position: absolute;
        bottom: 10%;
        right: 10%;
    }
    &__left{
        max-width: 700px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__block{
        max-width: 456px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__block-top{

    }
    &__name{
        font-size: 48px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 8px;
    }
    &__age{
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        opacity: 0.5;
        margin-bottom: 48px;
    }
    &__block-center{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }
    &__info-speech{
        color: #FF3D78;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        padding: 8px 16px;
        border-radius: 32px;
        border: 2px solid #FF3D78;
        background: rgba(255, 61, 120, 0.10);
    }
    &__info-thinking{
        color: #46A6AF;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        border-radius: 32px;
        border: 2px solid #56A7B2;
        background: rgba(86, 167, 178, 0.10);
        padding: 8px 16px;
    }
    &__info-motility{
        color: #FFAA2B;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        border-radius: 32px;
        border: 2px solid #FFB444;
        background: rgba(255, 180, 68, 0.10);
        padding: 8px 16px;
    }
    &__info-socialization{
        color: #FF3D78;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        padding: 8px 16px;
        border-radius: 32px;
        border: 2px solid #FF3D78;
        background: rgba(255, 61, 120, 0.10);
    }
    &__block-bottom{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: auto;
    }
    &__link{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        padding: 24px 32px;
        border-radius: 48px;
        background: #56A7B2;
        display: flex;
        align-items: center;
    }
    &__video{
        border-radius: 48px;
        background: #FF3D78;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        display: block;
        margin-right: -6px;
    }
    &__img-men{
        max-width: 213px;
        &--women{
            height: 391px;
            display: block;
            margin-top: auto;
        }
    }
    &__right{
        max-width: 700px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}